# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ List some open sourced Data Science development environments
+ List some examples of arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Scikit
2. Numpy
3. Pandas

| Data Science Tools |
-------------
| Jupyter Lab |
| Rstudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Heather Blagg